
p { 
    /* background-color: royalblue; */
    font-weight: bold;
}

div {
    background-color: green;
}


/* .container {
    background-color: rebeccapurple;
} */

body {
    background-color: red;
}
